body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo {
    height: 45px;
    margin-bottom: 4px;
}

.header {
    background-color: navy;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: underline;
}

.header a:hover {
    color: #ddd;
}

.user {
    text-align: right;
    font-size: 14px;
}

 
/* .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
} */
 
 
.header h1 {
    font-size: 26px;
}
 
.header span {
    color: #4b6cff;
}
 
/* .user {
    text-align: right;
    font-size: 14px;
} */
 
.subtitle {
    margin: 30px 40px 10px;
    font-size: 16px;
}
 
.options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 40px;
}
 
.option {
    font-size: 16px;
}
 
.option span {
    font-size: 12px;
    color: gray;
}
 
.selected-box {
    /* position: sticky; */
    left: 40px;      /* distance from right edge */
    bottom: 40px;      /* same vertical level as button */
    width: 420px;
    padding: 16px;
    border: 2px solid #2f7d32;
    border-radius: 8px;
    background-color: #f9fff9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
 
.submit-btn {
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 12px 30px;
    background: #0a5a7a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
 
.submit-btn:hover {
    background: #083f56;
}
 
.sublist {
    display: none;
    margin-left: 25px;
    margin-top: 8px;
    font-size: 14px;
}
 
.text-input {
    margin-top: 8px;
    padding: 8px;
    width: 95%;      
    height: 38px; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}